/* common style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.logo-txt-color {
  color: #ff42a5;
}
.primary-btn {
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.common-title {
  font-size: 3rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* nav style */
.nav-section {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 12rem;
  /* background: #fff; */

  /* border: 1px solid red; */
}
.logo-section {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  /* border: 1px solid red; */
  width: 50%;
}
.logo-img {
  width: 5.4rem;
  height: 2.5rem;
}
.logo-title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #0b0223;
}

.menu-section-container {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: flex-end;
}
.menu-section ul li {
  list-style: none;
  color: #3c354f;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.menu-section {
  /* border: 1px solid red; */
  width: 50%;
}
.menu-follow-container {
  display: flex;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
}
.menu-follow-container > p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.menu-icon {
  margin-left: 0.5rem;
  width: 1.5rem;
}

/* banner section style */
.banner-section {
  display: flex;
  gap: 64px;
}

.banner-content-main {
  width: 50%;
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-img {
  width: 50%;
  padding-right: 120px;
}
.banner-img > img {
  width: 90%;
}
.banner-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.goat-title {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-des p {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: lowercase;
  margin-top: 17px;
}
.banner-button-div {
  margin-top: 2.5rem;
}
.banner-button {
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* funny vedio section */
.funny-video-section {
  max-width: 1400px;
  margin: 50px auto 0;
  /* display: none; */
}
.funny-video-section-heading {
  text-align: center;
}
.funny-video-section-card-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 3rem;
}
.funny-video-card {
  width: 250px;
}
.funny-video-card img {
  width: 100%;
}
.funny-video-section-heading > h3 {
  font-size: 3rem;
  font-weight: 700;
  color: #0b0223;
}
.funny-video-section-heading > p {
  color: #534c64;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.img-container {
  position: relative;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 30%;
  color: #f948b2;
  text-align: center;
  display: none;
}
.img-container:hover .play-icon {
  display: block;
}
.card-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}
.card-img:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

/* play-instantly-section */
.play-instantly-section {
  max-width: 1100px;
  margin: 50px auto 0;
  /* border: 1px solid salmon; */
}
.play-instantly-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.play-instantly-content {
  width: 50%;
  /* border: 1px solid salmon; */
  text-align: right;
}
.play-instant-img-container {
  display: flex;
  align-items: center;
}
.play-instantly-image {
  width: 50%;
  height: 100%;
}
.play-img {
  width: 80%;
  height: 90%;
  margin-left: 100px;
  margin-top: 150px;
}
.play-bottom-img {
  position: relative;
  bottom: 200px;
  width: 200px;
}

.play-instantly-content > h3 {
  font-size: 48px;
  font-weight: 700;
  color: #0b0223;
}
.play-instantly-content > p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
}

/* footer section */
.footer-section {
  background-color: #0b0223;

  color: white;
  width: 100%;
}
.footer-logo-section {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-top: 120px;
}
.footer-list1 {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  justify-content: center;
  gap: 50px;
  text-align: center;
}
.footer-list1 div {
  display: inline;
}
.footer-list2 > div > button {
  background-color: #0b0223;
  border: none;
}
.footer-list2 {
  margin-top: 66px;
  display: grid;
  grid-template-columns: repeat(6, 60px);
  justify-content: center;
  gap: 10px;
}
.footer-list3 {
  margin-top: 66px;
  display: grid;
  grid-template-columns: repeat(4, 190px);
  justify-content: center;
  gap: 5px;
}
.footer-list3 div {
  /* border: 1px solid yellow; */
  text-align: center;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
.footer-div > p {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 140px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
.gamer-white-txt {
  color: #fff;
}
