/* nav style */
.nav-section-container,
.menu-section-container,
.funny-video-section-card-container {
  flex-direction: column;
}
.menu-section-container,
.menu-follow-container {
  margin-top: 3.5rem;
  width: 262px;
}
.nav-section {
  box-shadow: none;
}

/* banner-section style */
.banner-section {
  flex-direction: column-reverse;
}
.banner-content-main,
.banner-img {
  width: 100%;
}
.banner-img {
  margin: 30px 140px;
}
.banner-content-main {
  padding: 100px 0px;
  margin-left: 40px;
}

/* funny video section */
.funny-video-section {
  margin-left: 50px;
  width: 100%;
  margin-top: 50px;
}
.funny-video-section-card-container {
  align-items: center;
}
.funny-video-card {
  width: 90%;
  text-align: center;
}
.funny-video-section-heading {
  margin: 0px auto;
}

/* instant play section */

.play-instantly-container {
  flex-direction: column;
}

.play-instantly-content,
.play-instantly-image {
  width: 100%;
}
.play-instantly-content {
  text-align: center;
  margin-left: 130px;
  margin-bottom: 0px;
}
.play-instantly-image {
  margin-top: 0px;
  margin-left: 130px;
}
.play-img {
  margin-top: 0px;
}
